$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  padding: 0;
  padding-bottom: 50px;
  font-family: 'Noto Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p{
  font-family: 'Noto Sans', sans-serif;
}

.navbar-inverse{
  background-color: #000;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.btn-primary{
  background-color: #BB9961;
  border-color: #BB9961;

  &:hover,
  &:focus,
  &:active{
    background-color: lighten(#BB9961, 10%);
    border-color: lighten(#BB9961, 10%);
  }
}

.form-control:focus{
  box-shadow: none;
  border-color: #BB9961;
}

.badge-icon{
  padding: 15px;
  color: #fff;
  background: #BB9961;
  border-radius: 50%;
}

div[ng-include]{
  height: 100%;
}

// The app
.opening{
  height: 30vh;
  background-size: cover;

  &.cards{
    background: url('/images/cards.jpg') no-repeat center center;
  }
  &.hall{
    background: url('/images/hall-seats.jpg') no-repeat center center;
  }
  &.pics{
    background: url('/images/pics-of-pics.jpg') no-repeat center 40%;
    background-size: cover;
  }
}
$width-logo: 200px;
.image-full{
  height: $width-logo;
  width: $width-logo;
  display: block;
  margin: 0 auto;
  position: relative;

  img{
    width: $width-logo;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    // animation: spin-circle 2.5s infinite linear;

    &.box{
      animation: spin-circle 3.25s infinite linear;
    }

    &.circle{
      animation: spin-circle 4.75s infinite linear;
    }

    &.logo{
      animation: spin-circle 6.75s infinite linear reverse;
    }

    &.diamond{
      animation: spin-circle 3.25s infinite linear reverse;
    }
  }
}
@keyframes spin-circle{
  0%{transform: translate(-50%, -50%) rotate(0deg);}
  50%{transform: translate(-50%, -50%) rotate(180deg);}
  100%{transform: translate(-50%, -50%) rotate(360deg);}
}

.opening-image{
  height: 70vh;
  background: url('/images/opening-image.jpg') no-repeat center 40%;
  background-size: cover;
}
.overlay{
  background: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;

  img{
    opacity: 0;
    transition: 1s opacity;
    transition-delay: 1s;
  }

  &.active{
    opacity: 0.7;

    img{
      opacity: 1;
    }
  }

  .container{
    transform: translateY(-50%);
    top: 50%;
    position: relative;
  }
}

.hello-picture{
  width: 80%;
  padding: 15px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: margin-top 0.5s, margin-left 0.5s, transform 0.5s;
  z-index: 9999;

  &.gif{
    transform: rotate(-5deg);
  }
  &.jump{
    transform: rotate(5deg);
  }
  &.bond{
    transform: rotate(0deg);
  }
  &.superhero{
    transform: rotate(-8deg);
  }
}

.hello-picture-container{
  min-height: 400px;
}
.hello-picture-container.active{
  .hello-picture{
    &.gif{
      margin-left: 50%;
      transform: rotate(9deg);
    }
    &.jump{
      margin-top: 45%;
      margin-left: 2%;
      transform: rotate(-11deg);
    }
    &.bond{
      margin-top: 20%;
      margin-left: -55%;
      transform: rotate(-19deg);
    }
    &.superhero{
      margin-top:-60%;
      margin-left: 5%;
      transform: rotate(5deg);
    }
    &.closeup{
      margin-left: -15%;
    }
    &.cute{
      margin-left: -65%;
      margin-top: -10%;
      transform: rotate(-5deg);
    }
  }
}
