<div class="opening-image">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <img src="images/lm-full-logo.png" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'views/partials/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 hello-picture-container">
      <img src="images/superhero.jpg" alt="" class="hello-picture superhero">
      <img src="images/closeup.jpg" alt="" class="hello-picture closeup">
      <img src="images/bond.jpg" alt="" class="hello-picture bond">
      <img src="images/cute.jpg" alt="" class="hello-picture cute">
      <img src="images/jump.jpg" alt="" class="hello-picture jump">
      <img src="images/funny-gif.gif" alt="" class="hello-picture gif">
    </div>
    <div class="col-md-5">
      <br>
      <blockquote>
        <p>And of His signs is that He created for you from yourselves mates that you may find tranquillity in them; and He placed between you affection and mercy. Indeed in that are signs for a people who give thought.</p>
        <footer>Surat Ar-Rum 21, Quran</footer>
      </blockquote>
      <h3>
        <small>
          You are invited to our wedding celebration on
        </small>
        <br>
        Friday August 7, 2015
        <br>
      </h3>
      <h3>
        <small>
          We are incredibly fortunate to be surrounded with blessed people, loving families and caring friends. We want to
          celebrate our special day with you - we are only a by-product of all the memories and experiences you have
          been a part of, and here is one to make it special together.
        </small>
      </h3>
      <!-- <h3>
        Our story
      </h3>
      <p>
        Asalamu Alykom and hello,
        <br>

      </p> -->
    </div>
  </div>
</div>
