<div class="opening pics">
  <div class="overlay active">
    <div ng-include="'views/partials/logo.html'"></div>
  </div>
</div>
<div ng-include="'views/partials/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>
        <small>
          Pictures define our very special moments we experience.
          The peak of human existence is the memories and experiences we share with the people around us.
          We want to hold onto those memories with you. We have created a Google Drive to upload pictures to
          after the wedding. We will email you more details after the wedding to remind you. Here is the link:
        </small>
      </h3>
      <h3 class="text-center" style="padding-top: 30px;">
        <small>
          <a class="btn btn-primary btn-lg" href="https://drive.google.com/folderview?id=0BwK_WdLIWcZafl85VXRMajZYaDRXWEdRUHVTMUNzUTdfaU9FSC1RXzB2WnJIN0VOMS1ra2c&usp=sharing">
            Google Drive Folder
          </a>
        </small>
      </h3>
    </div>
  </div>
</div>
